html,
body {
  height: 100%;
  width: 100%;
  font-size: 16px;
  color: #162345;
}

/* .navbar {
  background-color: #162345;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 50px;
  color: white;
} */

#logo {
  align-items: center;
  justify-content: center;
  align-content: center;
  color: white;
}

.demo {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#title {
  margin-top: 30px;
  font-size: 30px;
}

.stats {
  display: flex;
  height: 500px;
  width: 95%;
  /* background-color: lightgray; */
  padding: 20px;
}

#left-stats {
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 50%;
  /* background-color: lightblue; */
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-bottom: 10px;
}

#right-stats {
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 50%;
  /* background-color: lightgreen; */
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-bottom: 10px;
}

#response-graph {
  display: flex;
  background-color: green;
  height: 400px;
  width: 90%;
  margin-bottom: 20px;
}

#cache-stats {
  background-color: grey;
  height: 150px;
  width: 300px;
  margin-bottom: 20px;
  border-radius: 15px;
}

#cache-times {
  display: flex;
  background-color: green;
  height: 400px;
  width: 90%;
  margin-bottom: 20px;
}

#pie-chart {
  background-color: grey;
  height: 150px;
  width: 150px;
  margin-bottom: 20px;
  border-radius: 50%;
}

.input {
  margin-top: 10px;
  display: flex;
  height: 300px;
  width: 95%;
  background-color: lightgray;
  padding: 20px;
  border-radius: 15px;
}

#countriesAPI {
  /* background-color: grey; */
  height: 95%;
  flex: 1.3;
  margin-bottom: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}
#countriesAPI button {
  width: 100px;
  height: 40px;
  align-self: start;
  margin: 10px;
  background-color: #162345;
  border-radius: 10px;
  color: white;
}
#countriesAPI h1 {
  align-self: start;
  border-radius: 10px;
  color: #162345;
  margin: 10px;
}

#countriesAPI p {
  align-self: start;
  border-radius: 10px;
  color: #162345;
  margin: 10px;
}

#query {
  background-color: grey;
  height: 95%;
  flex: 1.7;
  margin-bottom: 20px;
  border-radius: 15px;
  margin: 10px;
}
#query-results {
  background-color: grey;
  height: 95%;
  flex: 3;
  margin-bottom: 20px;
  border-radius: 15px;
  margin: 10px;
}


.underline {
  text-decoration: underline;
}

.nav {
  margin-top: -8px;
}

#root {
  margin-left: 0px;
}

#clear-cache {
  height: 80%;
  display: flex;
  align-items: end;
  /* justify-content: end; */
  margin: 10px;
  

}
#query-results button {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-end;
  /* margin-bottom: 30px; */
}