/* import '@fontsource-variable/source-code-pro';  */

html,
body {
  height: 100%;
  width: 100%;
  font-size: 16px;
  color: #162345;
  font-family: Arial, Helvetica, sans-serif;
  /* font-family: ; */
  /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
}

#logo {
  align-items: center;
  justify-content: center;
  align-content: center;
  color: white;
}

.demo {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#title {
  margin-top: 20px;
  font-size: 24px;
}

.stats {
  display: flex;
  height: 550px;
  width: 97%;
  /* background-color: lightgray; */
  border: 1px solid #162345;
  border-radius: 15px;
  /* padding: 10px; */
}

#left-stats {
  display: flex;
  flex-direction: column;
  height: 95%;
  width: 50%;
  /* background-color: lightblue; */
  align-items: center;
  justify-content: start;

  padding-left: 20px;
}

#right-stats {
  display: flex;
  flex-direction: column;
  height: 95%;
  width: 50%;
  align-items: center;
  justify-content: start;

  padding-right: 20px;
}

#response-graph {
  display: flex;
  flex: 4;
  justify-content: center;
  width: 100%;
  margin-bottom: 5px;
}

.chart-container {
  width: 70%;
}

#cache-stats {
  flex: 2;
  /* width: 100%; */
  /* margin-bottom: 10px; */
  border-radius: 15px;
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

#cache-card {
  display: flex;
  flex-direction: column;
  background-color: rgb(217, 216, 216);
  width: 300px;
  height: 160px;
  border-radius: 15px;
  padding: 15px;
  border: 1px solid #162345;
}

#cache-card h4 {
  margin-top: 0px;
  font-size: 18px;
  align-self: center;
}

#cache-card p {
  margin-top: 0px;
  font-size: 15px;
}

#cache-times {
  display: flex;
  flex: 4;
  justify-content: center;
  width: 100%;
}

#pie-chart {
  flex: 2;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  height: 350px;
  width: 95%;
  background-color: lightgray;
  padding: 20px;
  border-radius: 15px;
  margin: 10px 5px 15px 5px;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#query-fields {
  height: 95%;
  flex: 1;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}
#query-fields button {
  width: 100px;
  height: 40px;
  align-self: start;
  background-color: #162345;
  border-radius: 10px;
  color: white;
  margin-right: 10px;
}

#query-fields button:hover {
  cursor: pointer;
}

#query-fields h1 {
  align-self: start;
  border-radius: 10px;
  color: #162345;
  margin-top: 10px;
}

#query-fields p {
  align-self: start;
  border-radius: 10px;
  color: #162345;
  margin-top: 5px;
  margin-bottom: 10px;
}
#query-fields input {
  margin-top: 10px;
  margin-bottom: 5px;
}

#query-fields select {
  margin-bottom: 10px;
  width: 100px;
}

#query {
  background-color: rgb(53, 53, 53);
  height: 100%;
  /* margin-bottom: 10px; */
  border-radius: 15px;
  /* margin: 10px; */
  white-space: pre-line;
  width: 90%;
}
#graphql-query-container {
  display: flex;
  flex-direction: column;
  /* margin-right: 20px; */
  flex: 2;
  align-items: start;
  justify-content: start;
  margin-left: 20px;
  margin-top: -10px;
}
#query-results {
  background-color: rgb(53, 53, 53);
  height: 100%;
  /* margin-bottom: 10px; */
  border-radius: 15px;
  white-space: pre-line;
}
#response-query-container {
  display: flex;
  flex-direction: column;
  /* margin-right: 20px; */
  flex: 2;
  margin-top: -10px;
}

.buttons {
  display: flex;
  margin-top: 20px;
  margin-bottom: 30px;
}

.underline {
  text-decoration: underline;
}

.nav {
  margin-top: -8px;
}

#root {
  margin-left: 0px;
}

#clear-cache {
  height: 80%;
  display: flex;
  align-items: end;
  /* justify-content: end; */
  margin: 10px;
}
#query-results button {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-end;
  /* margin-bottom: 30px; */
}

.second-indent {
  text-indent: 50px;
  margin: 5px;
}

.first-indent {
  text-indent: 25px;
  margin: 5px;
}

.query-text {
  margin: 20px;
  color: yellow;
  font-size: 15px;
  font-family: "Source Code Pro Variable";
}

#query-tag {
  color: rgb(253, 88, 116);
}
