/* import '@fontsource-variable/source-code-pro'; */

html,
body {
  height: 100%;
  width: 100%;
  font-size: 16px;
  color: #162345;
  
}


#logo {
  align-items: center;
  justify-content: center;
  align-content: center;
  color: white;
}

.demo {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#title {
  margin-top: 30px;
  font-size: 30px;
}

.stats {
  display: flex;
  height: 500px;
  width: 95%;
  /* background-color: lightgray; */
  padding: 20px;
}

#left-stats {
  display: flex;
  flex-direction: column;
  height: 95%;
  width: 50%;
  /* background-color: lightblue; */
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-bottom: 10px;
}

#right-stats {
  display: flex;
  flex-direction: column;
  height: 95%;
  width: 50%;
  /* background-color: lightgreen; */
  align-items: center;
  justify-content: start;
  padding: 20px;
  margin-bottom: 10px;
}

#response-graph {
  display: flex;
  background-color: green;
  height: 400px;
  width: 90%;
  margin-bottom: 20px;
}

#cache-stats {
  background-color: grey;
  height: 150px;
  width: 300px;
  margin-bottom: 20px;
  border-radius: 15px;
}

#cache-times {
  display: flex;
  background-color: green;
  height: 70%;
  width: 90%;
  margin-bottom: 20px;
  flex:1
}

#pie-chart {
  width: 180px;
  flex:1;
}

/* #line-chart {
  width: 200px; 

} */

.input {
  display: flex;
  height: 300px;
  width: 95%;
  background-color: lightgray;
  padding: 20px;
  border-radius: 15px;
  margin: 10px 5px 15px 5px
}
.chart-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

#countriesAPI {
  height: 95%;
  flex: 1;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}
#countriesAPI button {
  width: 100px;
  height: 40px;
  align-self: start;
  margin-top: 10px;
  background-color: #162345;
  border-radius: 10px;
  color: white;
  margin-right: 10px;
}

#countriesAPI button:hover {
  cursor: pointer;
}

#countriesAPI h1 {
  align-self: start;
  border-radius: 10px;
  color: #162345;
  margin-top: 10px;
}

#countriesAPI p {
  align-self: start;
  border-radius: 10px;
  color: #162345;
  margin-top: 10px;
  margin-bottom: 15px;
}
#countriesAPI input {
  margin-top: 10px;
  margin-bottom: 5px;
}

#countriesAPI select {
  margin-bottom: 10px;
  width: 100px;
}


#query {
  background-color: rgb(53, 53, 53);
  height: 95%;
  margin-bottom: 10px;
  border-radius: 15px;
  /* margin: 10px; */
  white-space: pre-line;
  width: 90%;
}
#graphql-query-container {
  display: flex;
  flex-direction: column;
  /* margin-right: 20px; */
  flex: 2;
  align-items: start;
  justify-content: start;
  margin-left: 20px;
  margin-top: -10px;
}
#query-results {
  background-color: rgb(53, 53, 53);
  height: 95%;
  margin-bottom: 10px;
  border-radius: 15px;
  white-space: pre-line;
}
#response-query-container {
    display: flex;
    flex-direction: column;
    /* margin-right: 20px; */
    flex: 2;
    margin-top: -10px;
}

.buttons {
  display: flex;
  margin-top: 20px;
  margin-bottom: 30px;
}

.underline {
  text-decoration: underline;
}

.nav {
  margin-top: -8px;
}

#root {
  margin-left: 0px;
}

#clear-cache {
  height: 80%;
  display: flex;
  align-items: end;
  /* justify-content: end; */
  margin: 10px;
  

}
#query-results button {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-end;
  /* margin-bottom: 30px; */
}

.second-indent {
  text-indent: 50px;
  margin: 5px;
}

.first-indent {
  text-indent: 25px;
  margin: 5px;
}

.query-text {
  margin: 20px;
  color: yellow;
  font-size: 15px;
  font-family: 'Source Code Pro Variable';
}

#query-tag {
  color: rgb(253, 88, 116);
}



