@font-face {
  font-family: Khula;
  src: url('./assets/fonts/Khula-Regular.ttf');
}
@font-face {
  font-family: KhulaBold;
  src: url('./assets/fonts/Khula-Bold.ttf');
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 16px;
  color: #162345;
  font-family: Khula
}

nav {
  height: 60px;
  background-color: #162345;
  margin-top: -8px;
  display: flex;
  justify-content: space-between;
}

#left-nav, #right-nav {
  display: flex;
  height: 100%;
  width: 40%;
  align-items: center;
  justify-content: center;
}

#left-nav img {
  height: 45px;
  margin-top: 14px;
}

#right-nav {
  margin-right: 10px;
  margin-top: 2px;
}

#right-nav a{
  margin: 15px;
  color: white;
  text-decoration: none;
}

#right-nav a:hover {
  cursor: pointer;
  text-decoration: underline;
  color: white;
}
#githubLogo {
  height: 27px;
  margin-top: 3px;
}

#pageStyle {
  text-decoration: underline !important;
}

#logo {
  align-items: center;
  justify-content: center;
  align-content: center;
  color: white;
}

.demo {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#title {
  margin-top: 20px;
  font-size: 24px;
  font-family: KhulaBold;
}

.stats {
  display: flex;
  height: 560px;
  height: 560px;
  width: 97%;
  border: 1px solid #162345;
  border-radius: 15px;
}

#left-stats {
  display: flex;
  flex-direction: column;
  height: 95%;
  width: 50%;
  align-items: center;
  justify-content: start;
  padding-left: 20px;
}

#right-stats {
  display: flex;
  flex-direction: column;
  height: 95%;
  width: 50%;
  align-items: center;
  justify-content: start;
  padding-right: 20px;
}

#response-graph {
  display: flex;
  flex: 4;
  justify-content: center;
  width: 100%;
  margin-bottom: 5px;
  max-width: 750px;
}

.chart-container {
  width: 70%;
  align-self: center;
}
#bar-chart-header {
  margin-right: 10px;
  font-family: KhulaBold;
}

#bar {
  margin-right: 20px;
}
.pie-container {
  margin-top: 15px;
  margin-left: 8px;
}

#cache-stats {
  flex: 2;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  margin-top: 5px;
  width: 45%;
  max-width: 45%;
  max-height: 200px;
}

#cache-card {
  flex: 2;
  display: flex;
  flex-direction: column;
  background-color: rgb(217, 216, 216);
  width: 400px;
  min-width: 150px;
  height: 85%;
  border-radius: 15px;
  padding: 15px;
  border: 1px solid #162345;
  overflow: auto
}

#cache-card h4 {
  margin-top: 0px;
  font-size: 18px;
  align-self: center;
  font-family: KhulaBold;
}

#cache-card p {
  margin-top: 0px;
  font-size:calc(12px + .2vw);
  margin-bottom: 7px;
}

#cache-times {
  display: flex;
  flex: 4;
  justify-content: center;
  width: 100%;
  max-width: 750px;
  margin-right: 20px;
}

#pie-chart {
  flex: 2;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.input-container {
  display: flex;
  height: 400px;
  width: 95%;
  background-color: lightgray;
  padding: 20px;
  border-radius: 15px;
  margin: 10px 5px 15px 5px;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#query-fields {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
}
#query-fields button {
  width: 100px;
  height: 40px;
  align-self: start;
  background-color: #162345;
  border-radius: 10px;
  color: white;
  margin-right: 10px;
  flex-shrink: inherit;
}

#checkboxes {
  display: flex;
  flex-direction: column;
  height: 270px;
  margin-top: 8px;
}

#checkboxes div select {
  margin-top: 0px;
  margin-bottom: 15px;
}

#idBox {
  margin-bottom: -5px;
}
#nested-checkbox {
  margin-left: 35px;
}

#query-fields button:hover {
  cursor: pointer;
}

#query-fields h1 {
  align-self: start;
  border-radius: 10px;
  color: #162345;
  margin-top: 10px;
  font-family: KhulaBold;
}

#query-fields p {
  align-self: start;
  border-radius: 10px;
  color: #162345;
  margin-top: 0px;
  margin-bottom: 10px;
}
#query-fields input {
  margin-top: 2px;
  margin-bottom: 12px;
}

#query-fields select {
  margin-bottom: 5px;
  width: 100px;
}

#query {
  background-color: rgb(53, 53, 53);
  height: 100%;
  border-radius: 15px;
  white-space: pre-line;
  width: 90%;
  
}
#graphql-query-container {
  display: flex;
  flex-direction: column;
  flex: 2;
  align-items: start;
  justify-content: start;
  margin-left: 20px;
  margin-top: -10px;
}
#graphql-query-container h3 {
  font-family: KhulaBold;
}
#query-results {
  background-color: rgb(53, 53, 53);
  height: 100%;
  border-radius: 15px;
  white-space: pre-line;
  overflow: auto
}
#response-query-container {
  display: flex;
  flex-direction: column;
  flex: 2;
  margin-top: -10px;
}

#response-query-container h3 {
  font-family: KhulaBold;
}


.buttons {
  display: flex;
  width: 100%;
} 

.underline {
  text-decoration: underline;
}

#root {
  margin-left: 0px;
}

#clear-cache {
  height: 80%;
  display: flex;
  align-items: end;
  margin: 10px;
}
#query-results button {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-end;
}

.third-indent {
  text-indent: 125px;
  margin: 5px;
}

.second-indent {
  text-indent: 75px;
  margin: 5px;
}

.first-indent {
  text-indent: 25px;
  margin: 5px;
}

.query-text {
  color: yellow;
  font-size: 15px;
  font-family: "Source Code Pro Variable";
  margin-left: 40px;
  margin-top: 25px;
}

#query-tag {
  color: rgb(253, 88, 116);
}