@font-face {
  font-family: Khula;
  src: url('../assets/fonts/Khula-Regular.ttf');
}
#home {
  height: 6vh;
}
#outside {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#pWrapper {
  width: 28vw;
  align-self: center;
}
.bigText {
  align-self: center;
  font-size: 3.5rem;
  margin-bottom: 0px;
}
.smallText {
  text-align: center;
  font-size: 1.5rem;
  color: rgba(87, 87, 87, 0.808);
}
.grayLine {
  color: rgba(87, 87, 87, 0.808);
  overflow: visible;
  width: 90vw;
  margin-top: 60px;
  margin-bottom: 60px;
}
#box {
  height: 100%;
  width: 300px;
  border: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.3rem;
  color: white;
  font-size: 18px !important;
}
#grey {
  color: grey;
}
#codeWrapper {
  align-self: center;
  display: flex;
  flex-direction: row;
  border-radius: 6px;
  background-color: rgb(60, 59, 59);
}
#copy {
  height: 4vh;
}
#horizBar {
  width: 95%;
  display: flex;
  justify-content: center;
}
#copyButton {
  background-color: rgba(0, 0, 0, 0);
  border: 2px;
  justify-self: center;
  cursor: pointer;
  margin-right: 20px;
  margin-top: 2px;
}
#lowerBigText {
  font-size: 2.5rem;
}
#whatIsWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  align-self: center;
}
#whatIsText {
  text-align: center;
}
#horizBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 100px;
}
.vertColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 25vw;
}
.bottomImg {
  width: auto;
  height: 100px;
}
.lowerNormText {
  font-size: 1.7rem;
}
.randomText {
  font-size: 1.4rem;
}
.vertLine {
  border-left: 2px solid;
  border-color: rgba(87, 87, 87, 0.808);
  height: 200px;
}
.demoSect {
  align-self: center;
  margin-top: 100px;
  text-align: center;
}
#demoButton {
  height: 50px;
  width: 200px;
  border: hidden;
  border-radius: 6px;
  background-color: #162345;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 2px 2px 3px rgb(80, 80, 80);
}
#contactBar {
  padding: 10px;
  margin-top: 50px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  text-align: center;
}
#contactContain {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
